@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(251, 250, 250);
    background-color:darkgoldenrod;
    text-align: center;
}

h2 {
    color:rgb(247, 246, 246);
    background-color: darkgoldenrod;
}

p {
    text-align: justify;
}

a {
    color: black;
}