@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #757DA9, #3F4464);
}

main {
    width: 600px;
    padding: 10px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(48, 52, 76, 0.738);    
}
 

h1 {
    color: #FFC857;
    text-align: center;
    text-shadow: 1px 1px 2px #bf9440c4;
}

h2 {
    color: #3F4464;
}
p {
    text-align: justify;
} 